<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="bank-404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    Oops you hit a 404. <a href="[[rootPath]]">Head back to home.</a>
  </template>

  <script>
    class Bank404 extends Polymer.Element {
      static get is() { return 'bank-404'; }
      static get properties() {
        return {
          rootPath: String,
        };
      }
    }
    
    window.customElements.define(Bank404.is, Bank404);
  </script>
</dom-module>
