<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../assets/bootstrap.html">

<dom-module id="bank-login">
  <template>
    <style include="bootstrap">
      :host {
        display: block;
      }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus value="{{email::input}}"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="{{password::input}}"/>
                                </div>
                                
                                <a class="btn btn-lg btn-primary btn-block" name="404" href="[[rootPath]]404">Login</a>

                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                
                                <div class="row">
                                  <div class="">
                                    <button type="button" class="btn btn-link">Sign Up</button>
                                    <button type="button" style="float:right;" class="btn btn-link">Forgot Password</button>
                                  </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </template>

  <script>
    class BankLogin extends Polymer.Element {
      static get is() { return 'bank-login'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }

      debugs(){
        console.log(this.email);
        console.log(this.password);
      }
    }

    window.customElements.define(BankLogin.is, BankLogin);
  </script>
</dom-module>
