<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<link rel="lazy-import" href="bank-login/bank-login.html">
<link rel="lazy-import" href="bank-404/bank-404.html">

<dom-module id="bank-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-pages
        selected="[[page]]"
        attr-for-selected="name"
        fallback-selection="404"
        role="main">
      <bank-login name="login"></bank-login>
      <bank-404 name="404"></bank-404>
    </iron-pages>
  </template>

  <script>
    Polymer.setPassiveTouchGestures(true);

    class BankApp extends Polymer.Element {
      static get is() { return 'bank-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        this.page = (page == 'components') ? 'login' : (page || 'login');
      }

      _pageChanged(page) {
        const resolvedPageUrl = this.resolveUrl('bank-' + page + '/' + 'bank-' + page + '.html');
        console.log(resolvedPageUrl);
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = '404';
      }
    }

    window.customElements.define(BankApp.is, BankApp);
  </script>
</dom-module>
